body {
    margin: 0;
    background-color: #d44e28;
  }
  
  h3 {
    color: black;
  }
  
  #home-score,
  #guest-score {
    margin: 10px;
    padding: 5px;
    background-color: #2cbcb2;
    text-align: center;
    color: black;
    font-size: 25px;
    border: black 2px solid;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  #new-game {
    text-align: center;
    margin-top: 10px;
  }
  
  .button-bg {
    background-color: #d2b486;
  }